<h2>Ember-Blog-Motor/Admin (In-repo Addon Engine)</h2>
<nav>
  <ul>
    <li>
      {{#link-to 'index'}}Admin Posts{{/link-to}}
    </li>
    <li>
      {{#link-to 'new'}}New{{/link-to}}
    </li>
  </ul>
</nav>
{{outlet}}
