<h2>{{config.title}}</h2>
<nav>
  <ul>
    <li>
      {{#link-to 'index'}}{{config.links.adminAllPosts}}{{/link-to}}
    </li>
    <li>
      {{#link-to 'new'}}{{config.links.adminNew}}{{/link-to}}
    </li>
  </ul>
</nav>
{{outlet}}
