<ul>
  <li data-test-first>{{#link-to link (query-params page=1 size=size)}}First{{/link-to}}</li>
  {{#each pageLinks as |pageLink|}}
    <li data-test-page={{pageLink}}>{{#link-to link (query-params page=pageLink size=size)}}{{pageLink}}{{/link-to}}</li>
  {{/each}}
  <li data-test-last>{{#link-to link (query-params page=lastPage size=size)}}Last{{/link-to}}</li>
</ul>
