<header>
  <h2>{{post.title}}</h2>
  <h3 class="post-entry__author">{{post.author.name}}</h3>
  <h3 class="post-entry__published-date-time">{{moment-format post.publishedAt dateFormat}}</h3>
</header>
<section>{{post.body}}</section>
