<h2>Ember-Blog-Motor (Addon Engine)</h2>
<nav>
  <ul>
    <li>
      {{#link-to "index"}}Blog Posts{{/link-to}}
    </li>
    <li>
      {{#link-to "ember-blog-motor-admin.index"}}Admin{{/link-to}}
    </li>
  </ul>
</nav>

{{outlet}}
