<h1 id="title">Welcome to Ember-Blog-Motor - Dummy App</h1>
<nav>
  <ul>
    <li>
      {{#link-to "index"}}Dummy Index{{/link-to}}
    </li>
    <li>
      {{#link-to "ember-blog-motor.index"}}Blog{{/link-to}}
    </li>
  </ul>
</nav>

{{outlet}}
