<h2>Welcome to Ember-Blog-Moto's github page</h2>

<p>This is the dummy app, click the {{#link-to "ember-blog-motor.index"}}blog{{/link-to}}
  link above to navigate to the public engine.</p>
<p>Click the {{#link-to "login"}}login{{/link-to}} or {{#link-to "authenticated.ember-blog-motor-admin.index"}}admin{{/link-to}}
  link to get access to the admin engine.</p>

<p>Want to know more about the Ember-BlogMotor addon?  Checkout the following blog posts:
  <ul>
    <li>{{#link-to "ember-blog-motor.posts.show" "Intro-1"}}Intro{{/link-to}}</li>
    <li>{{#link-to "ember-blog-motor.posts.show" "Configuration-2"}}Configuration{{/link-to}}</li>
  </ul>
</p>
